import { useEffect, useState } from 'react';
import { Button } from '@components';
import { useModalZussy } from '@zussy';
import { use{{pascalCase name}}Query, useTicketQuery } from '@query';
import { useParams } from 'react-router-dom';


import { Trash2, Pencil } from 'lucide-react'



const INITIAL = {
    price: '',
    {{camelCase name}}ID: '',
    status: '',
    details: [],
    payments: [],
};



export const Selected{{pascalCase name}}Page = () => {
    const params = useParams();
    const { readAll{{pascalCase name}}s } = use{{pascalCase name}}Query();
    const [selected{{pascalCase name}}, setSelected{{pascalCase name}}] = useState(INITIAL);
    const { setModal } = useModalZussy();

    useEffect(() => {
        const { {{camelCase name}}ID } = params;
        const {{camelCase name}}Index = readAll{{pascalCase name}}s?.data?.data.findIndex(x => x.id === {{camelCase name}}ID);
        const selected{{pascalCase name}} = readAll{{pascalCase name}}s?.data?.data[{{camelCase name}}Index];
        if(selected{{pascalCase name}}){
            setSelected{{pascalCase name}}(selected{{pascalCase name}});
        }
    }, [readAll{{pascalCase name}}s?.data?.data]);

    const onDelete = (e) => {
        e.stopPropagation();
        setModal({
            modalKey: 'delete{{pascalCase name}}',
            item: selected{{pascalCase name}},
        });
    };

    const onUpdate = (e) => {
        e.stopPropagation();
        setModal({
            modalKey: 'update{{pascalCase name}}',
            item: selected{{pascalCase name}},
        });
    };

    return (
        <div className='max-w-170 bg-white'>
            <h1 className=' text-4xl font-extrabold'>{selected{{pascalCase name}}.id}</h1>
            <div className='flex'>
                <div className='flex items-center'>
                    <Button
                        color='yellow'
                        onClick={onUpdate} 
                        text='Update'
                    ><Pencil />
                    </Button>
                    <Button
                        color={'red'}
                        onClick={onDelete} 
                        text='Delete'
                    ><Trash2 />
                    </Button>
                </div>
            </div>
        </div>
    );
}
